html {
	height: 100%;
	overflow: hidden;
}

body {
	color: #ffffff;
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Luna";
	font-size: 30px;
	background: #AD091E;
}

header {
	box-sizing: border-box;
	min-height: 100vh;
	padding: 25vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw; 
}

header h1 {
	margin-top: -200px;
}

header h1:hover {
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
	color: #07CA86;
}

header p:hover {
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
	color: #07CA86;
	font-weight: 100px;
}

.btn {
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
	padding: 40px 60px;
	border: 1px solid white;
	margin-top: 150px;
	margin-left: 300px;
	color: white;
	font-family: "Luna";
	font-size: 25px;
	letter-spacing: 5px;
	display: inline-block; 
	text-decoration-line: none;
}

.btn:hover {
	color: black;
	background-color: white
}

h3 {
	text-align: center;
	size: 50px;
	font-weight: 10px;
	/*margin-top: 5em;*/
	font-family: "Segoe UI";
}


header, header:before{
	background: 50% 50% / cover;	
}

header::before{
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image: url(658478.jpg);
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh; 
}

header * {
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0;
	padding: 1em;
}


.manda {
	margin: 370px;
	max-width: 100%;
	/*height: 150px;*/
	background: #EA2941;
	align-self: center;
	position: absolute;
	padding: 0;

}

/*.manda h2 {
	text-align: center;
	font-family: "";
}*/

.manda img {
	margin-top: 0em;
	border-radius: 50%;
	position: absolute;
	margin-left: 150px;
	width: 300px;
	height: 300px;
}

.manda p {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20em;
	font-family: "Segoe UI";
	font-size: 20px;
	text-align: justify;
}

.content {
	width: 1290px;
	height: 400px;
	margin-top: 40em;
	margin-left: 30px;
	margin-right: 30px;
	background: #EA2941;
	position: fixed;
}

.content img {
	width: 750px;
	height: 350px;
	margin-top: 1em;
	margin-left: 10px;
}

.content img:hover{
	color: grey;
}

.text {
	width: 500px;
	height: 400px;
	text-align: justify;
	margin-left: 800px;
	margin-top: 62em;
	font-family: "Segoe UI";
	font-size: 20px;
	position: absolute;
}
.content1 {
	width: 1290px;
	height: 400px;
	margin-top: 55em;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10em;
	background: #021D1B;
	position: absolute;	
}

.content1 img {
	width: 750px;
	height: 350px;
	margin-top: 25px;
	margin-left: 520px;
}

.text1{
	width: 450px;
	height: 400px;
	text-align: justify;
	margin-left: 70px;
	margin-top: 84em;
	font-family: "Segoe UI";
	font-size: 20px;
	position: absolute;
}